<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Maria</title>
</head>
<body>
    <form th:action="@{/productos/insertar}" th:object="${producto}" th:method="POST">
        <table>
            <tr>
                <td><label>Codigo de Barras:</label></td>
                <td><input type="text" id="codigoBarras" th:field="${producto.codigoBarras}"></td>
            </tr>
            <tr>
                <td><label>Nombre:</label></td>
                <td><input type="text" id="nombre" th:field="${producto.nombre}"></td>
            </tr>
            <tr>
                <td><label>Categoria:</label></td>
                <td><input type="text" id="categoria" th:field="${producto.categoria}"></td></td>
            </tr>
            <tr>
                <td><label>Precio:</label></td>
                <td><input type="text" id="precio" th:field="${producto.precio}"></td></td>
            </tr>
            <tr>
                <td><label>Stock:</label></td>
                <td><input type="text" id="stock" th:field="${producto.stock}"></td></td>
            </tr>
        </table>
        <input type="submit" value="Guardar">
    </form>  
        <form action="#" th:action="@{/productos/menu}">
        <input type="submit" value="Atras">
    </form>  
</body>
</html>